body {
	font: 1em 'PT Sans', Tahama, Arial;
	text-transform: uppercase;
}

.nav {
	list-style: none;
	margin: 30px;
	opacity: .5;
	padding: 0;
	width: 50px;

	transition: opasity .3s ease-in-out;
	-moz-transition: opasity .3s ease-in-out;
	-webkit-transition: opasity .3s ease-in-out;
	-o-transition: opasity .3s ease-in-out;
}
.nav:hover{
	opacity: 1;
}



.nav li {
	height: 50px;
	overflow: hidden;
	width: 50px;


	
	transition: widht .2s ease-in-out, height .2s ease-in-out .2s;
	-webkit-transition: widht .2s ease-in-out, height .2s ease-in-out .2s;
	-moz-transition: widht .2s ease-in-out, height .2s ease-in-out .2s;
	-o-transition: widht .2s ease-in-out, height .2s ease-in-out .2s;


}

.nav li:hover{
	height: 175px;
	width: 200px;
}



.nav li a {
	background: #bbb;
	color: #fff;
	cursor: poiter;
	display: block;
	height: 40px;
	line-height: 40px;
	margin: 1px;
	padding-left: 15px;
	text-decoration: none;
	width: 200px;


	transition: background .4s ease-in-out;
	-moz-transition: background .4s ease-in-out;
	-webkit-transition: background .4s ease-in-out;
	-o-transition: background .4s ease-in-out;


}

.nav li a:hover{
	background: #2fc5ff;
}

.nav li a:first-child{
	font-size: 1.1em;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-indent: 36px;
}

.nav li a:first-child::before{
	content: '';
	display: block;
	height: 32px;
	left: 9px;
	position: absolute;
	top: 9px;
	width: 32px;
} 

.main-menu a:first-child::before {
	background: url(http://www.defaulticon.com/images/icons32x32/home.png?itok=4tougUBV) center no-repeat;
	ilter: invert(100%); 
  	-webkit-filter:invert(100%); 
}

.settings a:first-child::before {
	background: url(http://www.defaulticon.com/images/icons32x32/settings.png?itok=f3WwNrKf) center no-repeat;
	ilter: invert(100%); 
  	-webkit-filter:invert(100%);
}

.link a:first-child::before {
	background: url(http://www.defaulticon.com/images/icons32x32/link.png?itok=ZWITPB3E) center no-repeat;
	ilter: invert(100%); 
  	-webkit-filter:invert(100%);
}

.search a:first-child::before {
	background: url(http://www.defaulticon.com/images/icons32x32/search_0.png?itok=eqsHkE5C) center no-repeat;
	ilter: invert(100%); 
  	-webkit-filter:invert(100%);
}
